@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}

@theme {
  --text-course-detai6ls-heading-small: 26px;
  --text-course-details-heading-small--line-height: 36px;

  --text-course-details-heading-large: 36px;
  --text-course-details-heading-large--line-height: 44px;

  --text-home-heading-small: 28px;
  --text-home-heading-small--line-height: 34px;

  --text-home-heading-large: 48px;
  --text-home-heading-large--line-height: 56px;

  --text-default: 15px;
  --text-default--line-height: 21px;
}

/* Custom Utility */
@utility grid-cols-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}